body{
    overflow-x: hidden;
}
.categories-title{
    text-align: center;
    font-family: sans-serif;
    font-size: 5vmin;
    color: #004658;
    -webkit-text-stroke: .03em rgb(56, 71, 71);
    text-shadow: .05em .05em 0 rgb(18, 21, 21);
    margin-top: 50px;
}
img{
    width: auto;
    height: 200px;
}
.categories-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

/* Media Query For different screens */
@media only screen and (max-width: 576px) { 
    .categories-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .categories-container{
        grid-template-columns: repeat(2, 1fr);
        
    }
}